@import "../Services/Services.sass";

.contact {
    @include middle();
    padding: 80px 0;
    text-align: center;
}

.contact-container {
    padding: 1rem;
    max-width: 1170px;
    margin: 0;

    h2 {
        margin: 3px;
    }
}

.contact-text {
    color: $primary_Color;
    margin: 0;
}

.contact-card {
    padding: 5rem 1rem;
}

.contact-button {
    background-color: $primary_Color !important;
    color: $bgColor !important;
    border-radius: 20px !important;
}

.contact-form {
    max-width: 600px;
    margin: auto;
}