@import "../Services/Services.sass";

.footer {
    background-image: linear-gradient(#6E5BFF, #5727C2);
    
}

.container {
    @include middle();
    
    padding: 80px 1rem;
    
}
.footer-item {
    font-size: medium;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    color: white;
}

.footer-button {
    width: 100% !important;
    overflow: hidden !important;
    display: flex !important;
    justify-content: flex-start !important;
    margin-left: -1rem !important;
    text-align: left !important;

}

.footer-span {
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    color: white;
}

.footer-links {
    display: flex !important;
    flex-wrap: wrap !important;
    color: white !important;
    justify-content: flex-start;
   margin-left: 10px;
    
}

.footer-logo {
 font-size: medium;
 font-weight: 600;
 color: white;
 margin-left: 10px;
}

.footer-icons {
  color: white !important;
  padding: 10px 10px 0px 0px;
}