/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #EBE7FC;
    max-width: 1200px;
    margin: auto;
} */



.header-image {
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.header-image > img {
    margin-right: 1rem;
    height: 36px;
}

.header-image > h4 {
    margin: 0;
    color: inherit;
    font-size: 1.3rem;
}



.header-nav-button {
    color: inherit !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    width: 100%;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
    text-align: left !important;
}


.header-logo {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}
.w-full {
    width: 100%;
}


.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.item-center {
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-column {
    display: flex;
    flex-flow: column;
}

.items-start {
    align-items: flex-start;
}

.text-black {
    color: black !important;
    padding: 1px;
}